/* Properties List */
.card-list-view .card-body, .card-list-view .card-footer {
	padding: 20px 30px;
}

#content .card {
	box-shadow: none;
	margin: 0;
	padding: 26px 0px 26px 26px;
}
#content .card-body, #content .card-footer {
	padding: 16px 0;
}
#content .card-footer span {
	font-size: 12px;
}
#content .card-footer {
	padding-bottom:0px;
}

.padding-card .card-body {
	padding: 35px;
}

/* Card */
.card {
	border: medium none;
	box-shadow: 0 0 11px #daebff;
	margin-bottom: 18px;
}
.card-list .badge {
	left: 20px;
	padding: 7px 10px;
	position: absolute;
	top: 20px;
	z-index: 9;
}

.card-list .card-body .card-title {
	font-size: 18px;
}

.card-list .card-body .card-subtitle {
	font-size: 14px;
	font-weight: 100;
}

.card-list .card-body h2 small {
	font-size: 19px;
}

.card-list .card-footer span {
	margin: 0 16px 0 0;
}

.card-footer {
	display: flex;
    flex-flow: wrap;
    justify-content: space-between;
	background: #fff none repeat scroll 0 0;
	border-color: #eeeeee;
}

.card-overlay {
	height: 380px;
	overflow: hidden;
	position: relative;
}

.card-overlay .card-img {
	height: 380px;
	object-fit: cover;
	width: 100%;
}

.card-overlay .card-img-overlay {
	left: 0;
	margin: auto;
	right: 0;
	text-align: center;
	top: auto;
}

.card-img-imoveis {
	height: 300px;
}

.card-img-imoveis-inicio {
	height: 230px;
}

/* Mobile Media */
@media (min-width: 0px) and (max-width: 767px) {
	.banner-list .card {
		margin-top: 30px;
	}

	.padding-card .card-body, .sidebar-card .card-body {
		padding: 18px;
	}

	.card-list-view .card-body, .card-list-view .card-footer {
		padding: 18px;
	}
}

@media (min-width: 768px) and (max-width: 1023px) {
	.padding-card .card-body, .sidebar-card .card-body {
		padding: 18px;
	}
	.card-list-view .card-body, .card-list-view .card-footer {
		padding: 18px;
	}
}
/* End Mobile Media 