
/*-- CAROUSEL --*/
.slider-h-auto .carousel-item {
    height: auto !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.slider-h-auto .carousel-item .text-description {
    line-height: 28px;
    font-size: 16px;
    font-weight: 500;
}

#featured-properties .carousel-indicators .active {
    background-color: #818080;
}
#featured-properties .carousel-indicators li {
    background-color: rgba(166, 166, 166, 0.5);
}
#featured-properties .carousel-indicators {
    margin: 0;
}

@media (min-width: 0px) and (max-width: 767px) {

    .carousel-initial.carousel-indicators {
        bottom: auto;
        left: auto;
        margin: 0;
        position: absolute;
        right: 0;
        left: 0;
        top: 30px;
    }

    .carousel-indicators {
        bottom: auto;
        left: auto;
        margin: 0;
        position: absolute;
        right: 0;
        left: 0;
        top: 90%;
    }

    .carousel-control-prev.carousel-initial, .carousel-control-next.carousel-initial {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .carousel-indicators {
        bottom: auto;
        left: auto;
        margin: 0;
        position: absolute;
        right: 12px;
        top: 16px;
    }
}


/* Slider */
 .imoveis-slider {
     position: relative;
}
 .imoveis-slider  {
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
/* Slider Form */
 .slider-form {
     left: 15%;
     position: absolute;
     right: 15%;
     top: 24%;
}
 .slider-form .input-group-addon {
     line-height: 58px;
     position: absolute;
     text-align: center;
     width: 41px;
     z-index: 9;
}
 .slider-form .input-group-addon .mdi {
     font-size: 18px;
}
 .slider-form .select2-selection {
     border: medium none !important;
     border-radius: 0 !important;
     height: auto !important;
     padding: 15px 15px 15px 33px;
}
 .slider-form .form-control {
     border: medium none !important;
     border-radius: 0 !important;
     height: auto !important;
     padding: 19px 15px 19px 43px;
}
 .slider-form .select2-selection__arrow {
     margin: 15px 12px 0;
}
 .slider-form .btn {
     font-size: 13px;
     padding: 17px 8px;
}
 .inner-page-form .input-group{
     padding: 1px;
}

@media (max-width: 425px) {
    .imoveis-slider .carousel-item {
        max-height: 780px;
        min-height: 550px;
        background: no-repeat center center scroll;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}