/* Footer */
.footer li {
   line-height: 34px;
}

.footer-social a {
   background: #f5f5f5 none repeat scroll 0 0;
   border-radius: 50px;
   display: inline-block;
   height: 35px;
   line-height: 33px;
   text-align: center;
   width: 35px;
   color: #BCBCBC;
}

.footer-social a:hover {
   background: #0056b3 none repeat scroll 0 0;
   color: #FFF !important;
}

.footer .whatsapp-icon{
    color: #4CA64C;
}

.footer .email-icon{
    color: #808080;
}