/* Navbar */
header nav.navbar{
    padding: 1.5em 1em;
}
nav.navbar {
    background: #F7F7F7 none repeat scroll 0 0 !important;
    padding: 0;
    box-shadow:0 5px 3px rgba(218, 235, 255, 0.51);
}

nav.navbar .navbar-nav .nav-link {
    color: #444;
    font-weight: bold;
    padding: 20px 2em;
    text-transform: uppercase;
}

nav.navbar .menu-icon {
    padding: 0 0.5em;
    font-size: 2em;
    color: rgb(68, 68, 68);
}

nav.navbar .menu-icon i:hover {
    color: #274abb;
    opacity: 0.8;
    cursor: pointer;
}

.navbar-brand.logo img {
    width: 100px;
    transform: scale(2);
    height: 84px;
    padding: 19px;
}

.dropdown-menu {
    border: medium none;
    border-radius: 0;
    margin: 0;
}

.dropdown-menu .dropdown-item {
    font-size: 13px;
    padding: 7px 20px;
}

.main-nav-right .btn {
    padding: 7px 16px;
}

.main-nav-right .list-inline-item {
    margin: 0;
}

