/*
Theme Name: Carlos Simões
Theme URI: 
Description: Tema desenvolvido por Guilherme Miranda
Author: Guilherme Miranda
Author URI: http://www.gmiranda.com.br
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: imobiliária, imóveis, carlos simões
Text Domain: Imóveis
Version: 1.0
*/


/*-- FONT PRINCIPAL --*/
@import url("https://fonts.googleapis.com/css?family=Varela+Round");

/*-- HTML - BODY --*/
* {
    font-family: "Varela Round", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
    background-color: #e5ebe1;
    font-size: 13px;
    font-family: "Varela Round", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: none;
    line-height: 25px;
    color: #444;
}

h1, h2, h3, h4, h5, h6 {
    color: #444;
}

p {
    font-size: 13px;
    line-height: 22px;
    color:#AAAAAA;
}

img {
   height: auto;
   max-width: 100%;
}

ul, ol {
   list-style: outside none none;
}

ul {
    margin: 0;
    padding: 0;
}

img {
    transform-style: preserve-3d;
}

a {
    transition: color 300ms ease 0s, background-color 300ms ease 0s;
    text-decoration:none !important;
    color:#AAAAAA;
}

a, a:hover {
    text-decoration: none;
}

a:focus {
    outline: medium none;
    outline-offset: 0;
}


/*-- MAIN COLOR --*/
.primary-color{
    background-color: #274abb;
    color: #fff;
}

.text-info{
  color: #AAAAAA !important;
}

.text-title{
  color: rgb(68, 68, 68);
}

.text-link{
  color: #274abb;
}

.text-link:hover{
  cursor: pointer;
  opacity: 0.8;
}

/*-- BUTTON --*/
.btn-main {
    border-radius: 3px;
    font-weight: 300 !important;
    font-size: 14px !important;
}

.btn-outline-main {
    background: none;
    border-color: #274abb;
    border-radius: 3px;
}

.btn-main:hover, .btn-outline-main:hover {
    opacity: 0.9;
    background-color: #274abb;
    transition: 1s;
    color: #fff !important;
}

/* Extra */
.help-block li {
   color: red;
}

.badge {
    border-radius: 2px;
    font-size: 12px;
    font-weight: 400;
}

.badge.badge-info {
    color: #fff;
    background-color: #007bff;
}

.badge.badge-carlos {
    color: #fff;
    background-color: #17a2b8;
}

.badge.badge-lote {
    color: #fff;
    background-color: #28a745;
}

.dropdown-item.active, .dropdown-item:active {
   background-color: #43EBBC;
}

.page-item.active .page-link {
   background-color: #64ddba;
   border-color: #64ddba;
   color: #fff;
   z-index: 1;
}

.page-link {
   color: #64ddba;
}
.box-shadow-none {
   border: 7px solid #fff !important;
   box-shadow: none !important;
}
.inner-header {
   background: rgba(0, 0, 0, 0) url("../img/slider/3.jpg") repeat scroll center top / 100% auto;
   position: relative;
}
.overlay{
   background: #587388 none repeat scroll 0 0;
   bottom: 0;
   left: 0;
   opacity: 0.8;
   position: absolute;
   right: 0;
   top: 0;
}
.inner-header::after {
   background: #587388 none repeat scroll 0 0;
   bottom: 0;
   content: "";
   left: 0;
   opacity: 0.8;
   position: absolute;
   right: 0;
   top: 0;
}
.inner-header .container {
   position: relative;
   z-index: 9;
}
.login-with-social .btn {
   color: #fff;
   font-size: 13px;
   padding: 12px 0;
   position: relative;
   font-weight: 400;
   text-transform: uppercase;
}
.btn-twitter {
   background: #64ccf1 none repeat scroll 0 0;
}
.btn-google {
   background: #df4930 none repeat scroll 0 0;
}
.btn-facebook {
   background: #507cc0 none repeat scroll 0 0;
}
.login-with-social .btn .mdi {
   font-size: 19px;
   left: 18px;
   position: absolute;
   top: 8px;
}
.btn {
   font-size: 13px;
   padding: 12px 39px;
   font-weight: bold;
}
b, strong {
   font-weight: 500;
}
#map {
   height: 450px;
   width: 100%;
}

.map-slider-form {
   background: #efefef none repeat scroll 0 0;
   left: auto !important;
   padding: 20px 0;
   position: relative !important;
   right: auto !important;
}

.margin-auto {
   margin: auto;
}
.no-radius {
   border-radius: 0 !important;
}
label {
   font-size: 12px;
   font-weight: 500;
   margin-bottom: 2px;
}
.form-control {
   background-color: #f8f8f8;
   border-color: #eeeeee;
   font-size: 13px;
   padding: 11px 16px;
}
.select2-container--open .select2-dropdown--below {
   border: medium none;
   border-radius: 0;
}
.section-padding {
   padding: 100px 0;
}
.section-padding-imovel {
   padding: 5px 0;
}
.text-success {
   color: #274abb !important;
}
a.text-success:focus, a.text-success:hover {
   color: #43ebbc !important;
}
.btn-success {
   background-color: #64ddba;
   border-color: #64ddba;
   color: #fff;
}
.btn-success:hover, .btn-success:focus {
   background-color: #43EBBC;
   border-color: #43EBBC;
   color: #fff;
}
.btn-success.disabled, .btn-success:disabled {
   background-color: #43EBBC;
   border-color: #43EBBC;
   color: #fff;
}
.btn-outline-success {
   background-color: transparent;
   background-image: none;
   border-color: #64ddba;
   color: #64ddba;
}
.btn-outline-success:hover {
   background-color: #43EBBC;
   border-color: #43EBBC;
   color: #fff;
}
.btn-outline-success.focus, .btn-outline-success:focus {
   box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
}
.btn-outline-success.disabled, .btn-outline-success:disabled {
   background-color: transparent;
   color: #43EBBC;
}
.btn-link {
   background-color: transparent;
   color: #64ddba;
   font-weight: 400;
}
.demo-page .card.padding-card .card-body {
   padding: 0;
}
.demo-page .card.padding-card .card-body h5 {
   font-size: 15px;
   padding: 4px 10px;
}

/* Slider Form */
.slider-form {
   left: 15%;
   position: absolute;
   right: 15%;
   top: 24%;
}
.slider-form .input-group-addon {
   line-height: 58px;
   position: absolute;
   text-align: center;
   width: 41px;
   z-index: 9;
}
.slider-form .input-group-addon .mdi {
   font-size: 18px;
}
.slider-form .select2-selection {
   border: medium none !important;
   border-radius: 0 !important;
   height: auto !important;
   padding: 15px 15px 15px 33px;
}
.slider-form .form-control {
   border: medium none !important;
   border-radius: 0 !important;
   height: auto !important;
   padding: 19px 15px 19px 43px;
}
.slider-form .select2-selection__arrow {
   margin: 15px 12px 0;
}
.slider-form .btn {
   font-size: 13px;
   padding: 18px 8px;
}
.inner-page-form .input-group{
   padding: 1px;
}

/* Agents Card */
.agents-card {
   padding-bottom: 15px;
}
.agents-card img {
   background: #fff none repeat scroll 0 0;
   border-radius: 90px;
   box-shadow: 0 0 24px rgba(11, 123, 255, 0.12);
   height: 107px;
}
/* Sidebar Card */
.sidebar-card .card-body {
   padding: 35px;
}
.sidebar-card-list li a {
   display: inline-block;
   width: 100%;
}
.sidebar-card-list > li {
   line-height: 32px;
}
.sidebar-card-list li a .sidebar-badge {
   float: right;
   font-weight: 500;
   margin: 0;
}
#featured-properties .card-body {
   padding: 30px 0;
}
#featured-properties .card {
   box-shadow: none;
   margin: 0;
}
#featured-properties img {
   border-radius: 3px;
}

/* Grid/list Filters */
.tags-action span {
   background: #fff none repeat scroll 0 0;
   border-radius: 3px;
   box-shadow: 0 0 11px #daebff;
   display: inline-block;
   padding: 3px 10px;
}
.tags-action span i {
   margin: 0 0 0 3px;
}
.osahan_top_filter {
   margin-bottom: 18px;
}
.view-mode {
   margin: 0 0 0 9px;
}
.view-mode a {
   background: #fff none repeat scroll 0 0;
   border-radius: 3px;
   box-shadow: 0 0 11px #daebff;
   display: inline-block;
   margin: 0 0 0 4px;
   padding: 3px 10px;
}
.view-mode a.active {
   color: #34495e;
}
.sort-by-btn .btn {
   min-width: 160px;
   padding: 4px 9px;
   text-align: left;
}
.sort-by-btn .dropdown-toggle::after {
   position: absolute;
   right: 11px;
   text-align: right;
   top: 15px;
   vertical-align: top;
}

/* Blog */
.blog-card .card-footer img {
   margin: 0 11px 0 0;
   width: 33px;
}
.blog-card .badge {
   font-size: 12px;
   font-stretch: normal;
   font-style: normal;
   font-weight: 500;
   letter-spacing: 1px;
   line-height: normal;
   margin: 0 0 12px;
   padding: 6px 10px;
   text-transform: uppercase;
}
.blog-card .badge-primary {
   background-color: rgba(92, 93, 232, 0.1);
   color: #5c5de8;
}
.blog-card .badge-danger {
   background-color: rgba(250, 100, 35, 0.1);
   color: #fa6423;
}
.blog-card .badge-success {
   background-color: rgba(0, 216, 200, 0.09);
   color: #00d8c8;
}
.blog-card .badge-dark {
   background-color: rgba(52, 58, 64, 0.19);
   color: #343a40;
}
.blog-card .badge-info {
   background-color: rgba(23, 160, 184, 0.17);
   color: #17a2b8;
}
.blog-card .badge-white {
   background-color: rgba(255, 255, 255, 0.81);
   color: #5c5de8;
}
/* Property Single */
.reviews-card .d-flex {
   height: 50px;
   width: 50px;
}
.reviews-card h5 small {
   color: #848484;
   font-size: 12px;
   margin: 0 0 0 8px;
}
.star-rating i {
   font-size: 15px;
   letter-spacing: -6px;
}
.list-icon i {
   float: left;
   font-size: 36px;
   line-height: 47px;
   width: 52px;
}
.list-icon {
   margin-bottom: 24px;
}
.list-icon strong {
   text-transform: uppercase;
   vertical-align: text-top;
}
.list-icon p {
   line-height: 11px;
}
.property-single-title {
   bottom: 0;
   left: 0;
   padding: 37px 0;
   position: absolute;
   right: 0;
}
/* Add Property */
.property-features-add .custom-control {
   margin: 7px 0;
}
.fuzone {
   background: #f9f9f9 none repeat scroll 0 0;
   border: 2px dashed #eeeeee;
   border-radius: 3px;
   cursor: pointer;
   display: inline-block;
   min-height: 150px;
   position: relative;
   text-align: center;
   transition: all 0.3s linear 0s;
   width: 100%;
}
.fuzone .fu-text {
   color: #98aab8;
   font-size: 12px;
   margin: 50px 0;
   position: relative;
   text-align: center;
}
.fuzone .fu-text i {
   display: inline-block;
   font-size: 54px;
   padding-bottom: 10px;
   transition: all 0.3s linear 0s;
   width: 100%;
}
.fuzone input {
   cursor: pointer;
   height: 100%;
   left: 0;
   opacity: 0;
   position: absolute;
   top: 0;
   width: 100%;
   z-index: 100;
}
/* My Account */
.tab-view {
   background: #fff none repeat scroll 0 0;
   box-shadow: 0 5px 3px rgba(218, 235, 255, 0.51);
}
.tab-view .nav-link {
   padding: 21px 30px;
   position: relative;
}
.tab-view .nav-link.active {
   border-bottom: 2px solid;
}
/* Property Single Gallery */
.property-single-title-gallery {
   background: #fff none repeat scroll 0 0;
   padding: 50px 0 20px;
   position: relative;
   box-shadow: 0 5px 3px rgba(218, 235, 255, 0.51);
}

/* Mobile Media */
@media (min-width: 0px) and (max-width: 767px) {
   .container {
       max-width: 100%;
   }
   .section-padding {
       padding: 50px 0;
   }
   nav.navbar {
       padding: 10px 15px;
   }
   .navbar-toggler {
       padding: 2px 5px;
   }
   nav.navbar .navbar-nav .nav-link {
       border-bottom: 1px solid #ececec;
       padding: 10px 12px;
       text-align: center;
   }
   .main-nav-right {
       text-align: center;
   }
   nav.navbar .dropdown-menu .dropdown-item {
       font-size: 13px;
       padding: 7px 20px;
       text-align: center;
   }
   .banner-list {
       padding:0px 15px !important;
   }
   .banner-list h6 {
       font-size: 13px;
       font-weight: 100;
       line-height: 21px;
       margin: 0 0 27px !important;
   }
   .banner-list .card {
       margin-top: 30px;
   }
   .inner-page-form, .slider-form {
       bottom: 1px !important;
       left: 1px;
       right: 1px;
       top: auto !important;
   }
   .inner-page-form .container, .slider-form .container{
       padding: 0;
   }
   .property-single-title {
       text-align: center;
   }
   .property-single-title .text-right {
       text-align: center !important;
   }
   .property-single-title .footer-social {
       margin: 20px 0 0;
   }
   .btn {
       font-size: 13px;
       font-weight: bold;
       padding: 9px 27px;
   }
   .tab-view .nav-link {
       border-bottom: 2px solid #ececec;
       margin: 0 1px;
       padding: 15px 14px;
       position: relative;
   }
   h1 {
       font-size: 34px;
   }
   h2 br {
       display: none;
   }
   .padding-card .card-body, .sidebar-card .card-body {
       padding: 18px;
   }
   .card-list-view .card-body, .card-list-view .card-footer {
       padding: 18px;
   }
   .footer h4 {
       margin: 0 0 10px !important;
   }
   .footer h6 {
       margin: 30px 0 8px !important;
   }
   .osahan_top_filter{
       text-align:center;
   }
   .osahan_top_filter .float-right {
       float: none !important;
       margin: 3px 1px !important;
   }
}
@media (min-width: 768px) and (max-width: 1023px) {
   .container {
       max-width: 100%;
   }
   nav.navbar {
       padding: 10px 15px;
   }
   .navbar-toggler {
       padding: 2px 5px;
   }
   nav.navbar .navbar-nav .nav-link {
       border-bottom: 1px solid #ececec;
       padding: 10px 12px;
       text-align: center;
   }
   .main-nav-right {
       text-align: center;
   }
   nav.navbar .dropdown-menu .dropdown-item {
    font-size: 13px;
    padding: 7px 20px;
    text-align: center;
}
.section-padding {
   padding: 60px 0;
}
}
@media (min-width: 1024px) and (max-width: 1200px) {
   .container {
       max-width: 100%;
   }
}
/* End Mobile Media 

/*GF FORMS*/

.single-imovel-form .gform_body .gfield{
    margin-bottom: 1em;
}

.single-imovel-form .gform_body ul input[type=text], .single-imovel-form .gform_body ul textarea{
    display: block;
    width: 100%;
    padding: 11px 16px;
    font-size: 13px;
    line-height: 1.5;
    color: #495057;
    background-color: #f8f8f8;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-color: #eeeeee;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;  
}

.single-imovel-form .gform_footer .gform_button{
    font-size: 13px;
    cursor: pointer;
    display: block;
    width: 100%;
    font-size: 13px;
    padding: 12px 39px;
    font-weight: bold;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out
}

.single-imovel-form .gform_footer .gform_button:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}

.single-imovel-form .gfield_required{
    color: red;
    padding-left: 5px;
}

.single-imovel-form label{
    color: #333;
}

.single-imovel-form .gform_body ul .gfield_error input{
    border: 1px solid #dc3051 !important;
    background-image: url(/wp-content/themes/carlos-simoes/assets/images/exclamation.png);
    background-repeat: no-repeat;
    background-position: 97% center;
    background-size: 5px;
}

.single-imovel-form .gfield_description{
    color: #dc3051;
    font-size: 10px;
}

.single-imovel-form .validation_error{
    display: none;
}

.single-imovel-form .gform_body ul li{
    position: relative;
    display: inline-block;
    vertical-align: top;
    float: none;
    margin-top: 0;
    margin-bottom: 12.5px;
    padding: 0;
}

.contato-imovel-form .gform_body .gfield{
    margin-bottom: 1em;
}

.contato-imovel-form .gform_body ul input[type=text], .contato-imovel-form .gform_body ul textarea{
    display: block;
    width: 100%;
    padding: 11px 16px;
    font-size: 13px;
    line-height: 1.5;
    color: #495057;
    background-color: #f8f8f8;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-color: #eeeeee;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;  
}

.contato-imovel-form .gform_footer .gform_button{
    font-size: 13px;
    cursor: pointer;
    display: block;
    font-size: 13px;
    padding: 12px 39px;
    font-weight: bold;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    line-height: 1.5;
    border-radius: .25rem;
    margin: 0 15px;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out
}

.contato-imovel-form .gform_footer .gform_button:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}

.contato-imovel-form .gfield_required{
    color: red;
    padding-left: 5px;
}

.contato-imovel-form label{
    color: #333;
}

.contato-imovel-form .gform_body ul .gfield_error input{
    border: 1px solid #dc3051 !important;
    background-image: url(/wp-content/themes/carlos-simoes/assets/images/exclamation.png);
    background-repeat: no-repeat;
    background-position: 97% center;
    background-size: 5px;
}

.contato-imovel-form .gform_body ul .gfield_error textarea {
    border: 1px solid #dc3051 !important;
    background-image: url(/wp-content/themes/carlos-simoes/assets/images/exclamation.png);
    background-repeat: no-repeat;
    background-position: 97% center;
    background-size: 5px;
}

.contato-imovel-form .gfield_description{
    color: #dc3051;
    font-size: 10px;
}

.contato-imovel-form .validation_error{
    display: none;
}

.contato-imovel-form .gform_body ul li{
    position: relative;
    display: inline-block;
    vertical-align: top;
    float: none;
    margin-top: 0;
    margin-bottom: 12.5px;
}

.form-control {
  line-height: 1.4; 
}

.imoveis-slider .carousel-item.carousel-img-height {
   max-height: 300px;
   min-height: 300px;
}